In [1]:
import numpy as np
from matplotlib import pyplot as plt
from mpl_toolkits.mplot3d import axes3d
from matplotlib import cm
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import pandas as pd
np.random.seed(123)

import warnings
warnings.filterwarnings('ignore')

In [4]:
test_1 = pd.read_csv("./data/test.csv")

In [5]:
test_1.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
1   1   0.41      Ideal     E     VS2   61.8   54.0  4.79  4.76  2.95
2   2   0.91  Very Good     E     SI2   62.5   59.0  6.16  6.23  3.87
3   3   0.42  Very Good     G     VS2   62.6   57.0  4.76  4.80  2.99
4   4   0.54      Ideal     G      IF   61.5   56.0  5.28  5.25  3.24

In [6]:
height_map = {
    "Ideal": 4,
    "Premium": 3,
    "Very Good": 2,
    "Good": 1,
    "Fair": 0
}

In [7]:
test_1["cut_name"] = test_1.cut.map(height_map)

In [8]:
height_num = {
    "G": 7,
    "E": 6,
    "F": 5,
    "H": 4,
    "D": 3,
    "I": 2,
    "J": 1
}

In [9]:
test_1["color_name"] = test_1.color.map(height_num)

In [10]:
clarity_num = {
    "SI1": 7,
    "VS2": 6,
    "SI2": 5,
    "VS1": 4,
    "VVS2": 3,
    "VVS1": 2,
    "IF": 1,
    "I1": 0
}

In [11]:
test_1["clarity_name"] = test_1.clarity.map(clarity_num)

In [12]:
test_1.drop(["cut", "clarity", "color"], axis=1, inplace=True)

In [13]:
test_1.head()

,id,carat,depth,table,x,y,z,cut_name,color_name,clarity_name
0,0,0.33,61.9,55.0,4.44,4.42,2.74,4,4,1
1,1,0.41,61.8,54.0,4.79,4.76,2.95,4,6,6
2,2,0.91,62.5,59.0,6.16,6.23,3.87,2,6,5
3,3,0.42,62.6,57.0,4.76,4.80,2.99,2,7,6
4,4,0.54,61.5,56.0,5.28,5.25,3.24,4,7,1

In [ ]:
test_1.to_csv("../Desktop/test_1.csv")